################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blobpulse.API/.vs
/Blobpulse.API/bin/Debug/net10.0
/Blobpulse.API/obj
/Blobpulse.Core/bin/Debug/net10.0
/Blobpulse.Core/obj/Debug/net10.0
/Blobpulse.Core/obj
/.vs
/Blobpulse.API/Blobpulse.API.csproj.user
/blobpulse-api/.vs/Blobpulse.slnx
/blobpulse-api/Blobpulse.API/.vs
/blobpulse-api/Blobpulse.API/bin/Debug/net10.0
/blobpulse-api/Blobpulse.API/obj
/blobpulse-api/Blobpulse.Core/bin/Debug/net10.0
/blobpulse-api/Blobpulse.Core/obj
/blobpulse-api/.vs/ProjectEvaluation
/blobpulse-api/.vs/Blobpulse/CopilotIndices/18.5.39194.52559
